/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font: 16px "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

i {
    display: block !important;
    color: #c61581;
    font-family: weather;
    font-size: 10vw;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.middle {
    width: 100%;
    position: absolute;
    top: 25%;
}

#weather {
    width: 100%;
    height: 100%;
    min-height: 480px;
    background: url(http://www.maevamiramar.com.mx/fondo_propuesta.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 5px solid #008dc4;
    text-align: center;
    text-transform: uppercase;
}

#weather h1,
#weather h2,
#weather h3,
#weather h4 {
    margin: 0;
    color: #000;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 3px 2px #000;
    color: #fff;
}

#weather h1 {
    font-size: 8vh;
}

#weather h2 {
    font-size: 7vh;
}

#weather h3 {
    font-size: 6vh;
}

#weather h4 {
    font-size: 5vh;
}

#weather h5 {
    font-size: 4vh;
}


#weather .header {
    width: 100%;
    padding: 5px 0;
    border: 1px solid #008dc4;
}

#weather .footer {
    width: 100%;
    padding: 5px 0;
    border: 1px solid #008dc4;
}

#weather .main {
    width: 100%;
    /* or flex-flow: column wrap;*/
}

#weather .main .principal {
    position: relative;
    width: 50%;
    height: 100%;
    border: 1px solid #008dc4;
}

/*#weather .main .principal .day-name {
    font-size: 24px;
}*/

/*#weather .main .principal i {
    font-size: 100px;
}*/

#weather .main .principal img {
    width: 50vh;
    margin-left: 5vh;
}

#weather .main .principal i {
    font-size: 18vh;
    /* margin-left: 5vh; */
    margin: 7vh 0 4vh 3vh;
}

#weather .main .secondary {
    position: relative;
    border: 1px solid #008dc4;
}

/*#weather .main .day-name {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 3px 2px #000;
    color: #fff;
}*/

#weather .main .secondary .day-name {
    position: absolute;
    top: 10px;
    left: 5px;
}

#weather .main .secondary .thumbnail {
    position: absolute;
    width: 30vh;
    top: 7vh;
    right: -5vh;
}

#weather .main .secondary i[data-thumbnail] {
    position: absolute;
    font-size: 13vh;
    top: 7vh;
    right: 4vh;
}

#weather .main .secondary i,
#weather .main .secondary h2 {
    padding: 0 15px;
    text-align: center;
}

#weather .main .secondary h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    /*font-size: 24px;*/
}

#weather .main .secondary-2 {
    width: 50%;
    height: 50%;
}

#weather .main .secondary-3 {
    width: 50%;
    flex-grow: 1;
}